<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8LINjxsiv2vBZutB7e4ip3QhMHhNgNrg</string>
	<key>GCM_SENDER_ID</key>
	<string>1030852367105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mel.Hope</string>
	<key>PROJECT_ID</key>
	<string>hope-app-3f0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>hope-app-3f0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030852367105:ios:b2edf49f8512ca930d4100</string>
</dict>
</plist>